name: Ruby

on:
  push:
    branches:
      - main

  pull_request:
  merge_group:
    types:
      - checks_requested

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}, Rails ${{ matrix.rails }}
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - "3.2"
          - "3.3"
          - "3.4"
          - head
        rails:
          - "6.0"
          - "6.1"
          - "7.0"
          - "7.1"
          - "7.2"
          - "8.0"
          - "8.1"
          - "edge"
        exclude:
          - ruby: 3.4
            rails: 6.0
          - ruby: 3.4
            rails: 6.1
          - ruby: 3.4
            rails: 7.0
          - ruby: head
            rails: 6.0
          - ruby: head
            rails: 6.1
          - ruby: head
            rails: 7.0

    permissions:
      contents: read

    services:
      # Label used to access the service container
      db:
        # Docker Hub image
        image: postgres:16
        # Provide the password for postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/rails_${{ matrix.rails }}.gemfile

    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby ${{ matrix.ruby }} for Rails ${{ matrix.rails }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run rspec on Rails ${{ matrix.rails }}
        run: bin/appraisal rails-${{ matrix.rails }} rspec
        env:
          DB_HOST: localhost
  validate-dev-container:
    runs-on: ubuntu-latest
    name: Validate Devcontainer
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - name: Build and run dev container task
        uses: devcontainers/ci@v0.3
        with:
          runCmd: echo "If we got here, the devcontainer built successfully!"
