name: "Run Prettier"

on:
  push:
    branches:
      - main

  pull_request:
  merge_group:

jobs:
  prettier:
    name: Run prettier
    permissions:
      contents: read
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          cache: npm
      - uses: creyD/prettier_action@v4.6
        with:
          dry: true
          prettier_options: "-c ."
